<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD61KkJfeMazlLXFTtLGMW9AEXpYgH9A_4</string>
	<key>GCM_SENDER_ID</key>
	<string>214246925107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vg5190-srmist.edu.in.linkTutor</string>
	<key>PROJECT_ID</key>
	<string>linktutor-22f14</string>
	<key>STORAGE_BUCKET</key>
	<string>linktutor-22f14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214246925107:ios:c5c7b9a4a7b6b45372d446</string>
</dict>
</plist>